{% extends "base.html" %}

 {% block css %}
    <link type="text/css" rel="stylesheet" href="/static/css/myblog_newarticle.css">
 {% endblock %}
 {% block script %}
    <script src="/static/js/jquery-3.1.0.min.js"></script>
    <script src="/static/js/showdown.min.js"></script>
    <script src="/static/js/myblog_newarticle.js"></script>
 {% endblock %}

{% block main %}
    <div id="main">
        <form action="{{ url_for('article.new_article') }}" method='post'>
            <input type="text" name="title" value="" placeholder="title">
            <div>
                <textarea rows="10" cols="60"  type="text" name="content" value="" placeholder="content"></textarea>
            </div>

            <div class="cell">
                请选择一个节点
            </div>
 
            <div class="cell">
                <select name='tag_id'>
                    {% for t in taglist %}
                        <option value="{{ t.id }}">{{ t.tagtitle }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit">提交</button>
        </form>
    </div>
{% endblock %}
