<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微博</title>
    <link type="text/css" rel="stylesheet" href="/static/css/weibo_index.css">
    <script src="/static/js/jquery-3.1.0.min.js"></script>
</head>
<body>
    <div class="header">
        <h1 class="title">微博</h1>
    </div>
    <div class="content">

        <form action="/add" method="post">
            <input type="text" name="content" placeholder="添加微博">
            <input type="text" name="username" size="10" placeholder="Name">
            <button type="submit">添加微博</button>
        </form>


        <div class="weibos-list">
                {% for wb in weibos %}
                    <div class="weibo-cell">
                        <div class="weibo-content">
                            {{ wb.id }}
                            {{ wb.content }}
                            {{ wb.username }}
                            <a class="comment" href={{ url_for('weibo.comment_add') }}>评论</a>
                            <a href={{ url_for('weibo.delete', weibo_id=wb.id) }}>delete</a>
                        </div>

                         <div class="comment-hide">
                                <form action="/comment/add" method="post">
                                    <input name="weibo_id" value={{ wb.id }} type="hidden">
                                    <input type="text" name="comment"  placeholder="comment">
                                    <input type="text" name="username" size="10" placeholder="Name">
                                    <button type="submit">评论</button>
                                </form>
                         </div>


                        <div class="comment-list">
                             <!--评论功能-->
                             {% for wc in wb.comments %}
                                <div class="comment-cell">
                                    {{ wc.comment }} by {{ wc.username }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
            {% endfor %}

        </div>







    </div>

{#    <script src="/static/js/weibo_index.js">#}

{#    </script>#}
</body>
</html>