<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}wiki{% endblock %}</title>
    <!-- css 相关文件 -->
    <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css">
{#    <link rel="stylesheet" type="text/css" href="/static/css/index.css" >#}
    <link rel="stylesheet" href="/static/lib/atom-one-light.min.css">
{#    <link rel="stylesheet" type="text/css" href="/static/css/md.min.css">#}
    <link rel="stylesheet" type="text/css" href="/static/lib/md.min.css">
    {% block css%} {% endblock %}

    <script  src="../static/lib/remarkable.min.js"></script>
    <script  src="../static/lib/highlight.min.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/api.js"></script>
{#    <script src="/static/lib/nunjucks.min.js"></script>#}
    <script src="../static/lib/template-web.js"></script>
    <script src="/static/lib/layui/layui.js"></script>
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css">
    <script src="../static/lib/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{#    <script  src="/static/lib/md.min.js"></script>#}
{#    <script>hljs.initHighlightingOnLoad();</script>#}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>