{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/edit.css">
{% endblock %}

{% block body %}
    <div class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            {% block header %} {% include 'header.html' %} {% endblock %}

            <div class="layui-container">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md6">
                        <div class="body-left">
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="body-right">
                        </div>
                    </div>
                </div>
            </div>

            {#            {% block footer %} {% include 'footer.html' %} {% endblock %}#}
        </div>
    </div>


    <script type="text/html" id="id-tmp-editarea">
        {% raw %}
        <div class="editarea-div" data-noteid="{{ id }}" data-catalogid="{{ catalog_id }}">
            <div class="bl-header">
                <div class="bl-header-left">
                    <input class="layui-input note-title" value="{{ title }}">
                </div>
                <div class="bl-header-right">
                    <a href="/article?note_id={{ id }}" class="layui-btn layui-btn-primary layui-btn-small">返回</a>
                </div>
            </div>
            <div class="bl-content">
                <textarea id="id-editarea" class="bg-inverse" rows="50" cols="75" data-type="">{{ content }}</textarea>
            </div>
        </div>

        {% endraw %}
    </script>
    <script type="text/html" id="id-tmp-viewarea">
        {% raw %}
        <div class="file-browser">
            {{ content }}
        </div>
        {% endraw %}
    </script>
    <script src="../static/js/components/base_component.js"></script>
    <script src="../static/js/components/file_browser.js"></script>
    <script src="../static/js/components/file_edit.js"></script>
    <script>
        layui.use(['layer', 'form'], function () {
            let layer = layui.layer
            let form = layui.form
            //  layer.msg('Hello World');
        });

        const renderNoteContent = (data) => {
            let editArea = template('id-tmp-editarea', data)
            let viewArea = template('id-tmp-viewarea', data)
            _e('.body-left').innerHTML = editArea
            _e('.body-right').innerHTML = viewArea
            let content = data.content
            let fb = FileBrowser.new('.file-browser', content);
            fb.renderMarkDown()
        }

        // 失去焦点保存事件
        const bindBlurEvent = function () {
            let fe = FileEdit.new();
            _e('#id-editarea').addEventListener('blur', function (event) {
                let target = event.target;
                let ele = target.closest('.editarea-div');
                let title = ele.querySelector('.note-title').value;
                let id = ele.dataset.noteid;
                let catalogId = ele.dataset.catalogid;
                let content = target.value;
                let data = {
                    catalog_id: catalogId,
                    note_id: id,
                    content: content,
                    title: title,
                };
                log('save', data)
                ajax.saveHTML(data, function (r) {
                    if (r.result === 1) {
                        log('保存成功')
                    }
                })

            });

            fe.renderMarkdown();
        }

        const init = () => {
            let noteId = queryStringFromUrl('note_id')
            ajax.noteById(noteId, (r) => {
                let result = r.result
                if (result === 1) {
                    let data = r.data
                    renderNoteContent(data)
                    bindBlurEvent()
                    log('data', data)
                }
            })
        }

        const __main = () => {
            init()
        }

        __main()
    </script>
{% endblock %}


