{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/index2.css">
{% endblock %}

{% block body %}
    <div class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            {% block header %} {% include 'header.html' %} {% endblock %}

            <div class="layout-body">
                <div class="body-left">
                </div>

                <div class="body-rightbar">
                </div>
            </div>
            {% block footer %} {% include 'footer.html' %} {% endblock %}
        </div>

    </div>

    <script type="text/html" id="id-tmp-notelist">
        {% raw %}
        <ul class="result-list-ul">
            {{ each catalogs cat index }}
            <div>
                <strong class="catalog-title">{{ cat.title }}</strong>
                {{ each cat.notes note i }}
                <li class="result-list-li">
                    <a href="/article?note_id={{ note.id }}" class="note-link">{{ note.title }} </a>
                </li>
                {{ /each }}
            </div>

            {{ /each }}
        </ul>
        {% endraw %}
    </script>

    <script type="text/html" id="id-tmp-rightbar">
        {% raw %}
        <ul class="">
            {{ each catalogs cat index }}
            <div>
                <strong class="catalog-title">{{ cat.title }}</strong>
                {{ each cat.notes note i }}
                <li class="">
                    <a href="/article?note_id={{ note.id }}" class="note-link">{{ note.title }} </a>
                </li>
                {{ /each }}
            </div>

            {{ /each }}
        </ul>
        {% endraw %}
    </script>

    <script>
        layui.use(['layer', 'form'], function () {
            let layer = layui.layer
            let form = layui.form

            //  layer.msg('Hello World');
        });

        ajax.allNotes(function (r) {
            let result = r.result

            if (result === 1) {
                let data = r.data
                let t = template('id-tmp-notelist', data)
                let bar = template('id-tmp-rightbar', data)
                _e('.body-left').innerHTML = t
                _e('.body-rightbar').innerHTML = bar

                log('data', data)
            }
        })


    </script>

{% endblock %}


