ul{
    list-style-type:none;
}

li:hover{
    text-decoration:none;
}

a{
   text-decoration:none;
}

a:hover{
   text-decoration:none !important;
}

.show{
    display: block;
}

.hidden{
    display: none;
}

#wiki-wrapper{

}
.wiki-wrapper-ul{
    width: 1200px;
    margin: 100px auto;
    display: block;
}

.file-browser-div{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /*width: 600px;*/
}

.file-browser-item {
    margin-left: 20px;
    margin-top: 50px;
    width: 150px;
}


.item-file-name{
    position: relative;
    top: 22px;
    right: 50px;
}

.page-content{
    display: flex;
    /*justify-content: center;*/
    flex-direction: row;
}

.page-content-left{
    width: 600px;
    margin-left: 20px;
    /*margin: 0 auto;*/
}

.page-content-right{
    margin-left: 20px;
    width: 600px;
}

.bg-inverse{
    background-color: #292b2c;
    color: white;
    overflow-x: hidden;
    /*font-size: 1.1rem;*/
    /*line-height: 1.5;*/
}

/*#id-input-src{*/
    /*height: 800px;*/
/*}*/
/*#id-editor-result{*/
    /*height: 800px;*/
/*}*/
