.thumbnail{
    float: right;
    overflow: hidden;
}

.post-list{
    margin: 0 0 5% 0;
    padding-bottom: 3%;
    position: relative;
    border-bottom: 1px solid #eee;
}

.thumb-footer{
    margin-top: 10px;
}

.hide{
    display: none;
}