
.layout-body{
    width: 800px;
    margin: auto;
    /*display: flex;*/
}
.body-left{
    /*padding-left: 100px;*/
    display: inline-block;
}
.result-list-li{
    padding-bottom: 8px;
    font-size: 16px;
}

.note-link{
    color: #0366d6;
    text-decoration: none;
}

.catalog-title{
     font-weight: 600;
}


.body-rightbar {
      float: right;
    width: 230px;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 5px;
    border: 1px solid #dddddd;
}

.layout-footer{
}