.body-left{
    padding-top: 20px;
    /*padding-left: 20px;*/
    /*width: 700px;*/
}

.body-right{
    padding-top: 20px;
    /*padding-left: 20px;*/
    /*width: 700px;*/
}

.bl-header-left{
    display: inline-block;

}

.bg-inverse{
    background-color: #292b2c;
    color: white;
    overflow-x: hidden;
    border-radius: .25rem;
    /*font-size: 1.1rem;*/
    /*line-height: 1.5;*/
}
.catalog-select{
    display: inline-block;
}

.bl-header-right{
    float: right;
    /*margin-top: 15px;*/
    /*margin-right: 25px;*/
}

.note-title{
    width: 300px !important;
}