<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}wiki{% endblock %}</title>

    {% block css%} {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="/static/css/index.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/md.min.css" media="all">
{#    <link rel="stylesheet" type="text/css" href="/static/css/dialog.css" media="all">#}
{#    <link rel="stylesheet" type="text/css" href="/static/css/template.css" media="all">#}
{#    <link rel="stylesheet" type="text/css" href="/static/css/print.css" media="print">#}

     <!-- lib 相关文件 -->
    <script src="/static/lib/nunjucks.min.js"></script>
    <script src="/static/lib/layui/layui.js"></script>
    <script src="/static/lib/jquery-3.2.1.min.js"></script>

    <!-- lib 相关文件 -->
    <script src="/static/js/utils.js"></script>


{#    <link rel="stylesheet" href="/static/lib/layui/css/layui.css">#}

    <script  src="/static/lib/remarkable.min.js"></script>
    <script  src="/static/lib/highlight.min.js"></script>
{#    <script  src="/static/lib/md.min.js"></script>#}


    {% block script%} {% endblock %}
</body>
</html>