{% extends 'base.html' %}

{% block css %} {% endblock %}
{% block body %}
    <div id="id-wiki-wrapper" class="results">

        <div class="page-content">
                <div class="page-content-left" id="id-input-src" data-catalogid="{{ column.catalog_id }}" data-noteid="{{ column.id }}">
                    <input class="file-title" value="{{ column.title }}">
                    <textarea class="bg-inverse" rows="50" cols="80" data-type="">{{ column.content }}</textarea>
                </div>

                 <div class="page-content-right file-browser" id="id-editor-result">

                   <div class="file-browser">
                       {{column.content}}
                   </div>
                </div>

        </div>
    </div>

{% endblock %}
{% block templates %} {% include 'model/templates.html' %} {% endblock %}

{% block script%}
    <script src="/static/js/components/base_component.js"></script>
<script src="/static/js/components/file_browser.js"></script>
<script src="/static/js/components/file_edit.js"></script>
    <script src="/static/js/edit.js"></script>
{% endblock %}

