{% extends 'base.html' %}

{% block css %}
{#<link rel="stylesheet" type="text/css" href="chrome-extension://fidicgekecdkdmkjghdgadgdmcfodfid/themes/default/content.css">#}
{% endblock %}

{% block body %}


    <div id="wiki-wrapper" class="results">

    <div id="pages">

         <div class="file-browser-div">
                <div class="file-browser-item">
                    <a href="/folder?d={{ dirs_files.current }}" class="folder">
                        <i class="fa fa-folder-o fa-2x"></i>
                        .
                    </a>
                </div>
                <div class="file-browser-item">
                    <a href="/folder?d={{ dirs_files.parent }}" class="folder">
                        <i class="fa fa-folder-o fa-2x"></i>
                        ..
                    </a>
                </div>

                {% for dir in dirs_files.dirs %}
                    <div class="file-browser-item">
                        <a href="/folder?d={{ dir.path }}" class="folder">
                            <i class="fa fa-folder-o fa-2x"></i>
                            {{ dir.filename }}
                        </a>
                    </div>
                {% endfor %}

                {% for file in dirs_files.files %}
                    <div class="file-browser-item">
                        <a href="/page?f={{ file.path }}" class="file">
                             <i class="fa fa-file-o fa-2x"></i>
                            {{ file.filename }}
                        </a>
                    </div>
                {% endfor %}
            </div>

     </div>

    </div>


{% endblock %}