{% extends 'base.html' %}

{% block css %} {% endblock %}
{% block other_script %}
<script src="/static/js/components/file_browser.js"></script>
<script src="/static/js/components/file_edit.js"></script>
{% endblock %}

{% block body %}
    <div id="id-wiki-wrapper" class="results">
        <div class="wiki-dropdwon-div">
            <button id="id-catalog-btn" class="">目录</button>
            <div class="dropdwon-box hidden">
                {% for cat in rdata %}
                     <ul class="dropdwon-box-ul" data-catalogid="{{ cat.catalog_id }}">
                        <li class="wiki-catalog-li"><a class="dropdwon-box-link catalog">{{ cat.title }}</a></li>
                        {% for note in cat.notes %}
                            <li class="wiki-note"><a class="dropdwon-box-link note" data-noteid="{{ note.id }}">{{ note.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}

            </div>
        </div>
        <div class="wiki-dropdwon-div">
            <button id="id-new-btn" class="">新建</button>
            <div class="dropdwon-box hidden">
                <ul>
                    <li><a id="id-new-note" href="#">新建文档</a></li>
                    <li><a id="id-new-catalog">新建目录</a></li>
                </ul>
            </div>
        </div>

        <div class="page-content">
        </div>
    </div>

{% block templates %} {% include 'model/templates.html' %} {% endblock %}

{% block script%} <script src="/static/js/index.js"></script> {% endblock %}
{% endblock %}
