{% extends "base.html" %}


    {% block css %}
        <link type="text/css" rel="stylesheet" href="/static/css/myblog_index.css">
    {% endblock %}

    {% block script %}
        <script src="/static/js/myblog_index.js"></script>
    {% endblock %}

    
    {% block main %}
    <div id="main">
               

            {% for al in article_list[::-1] %}
                <div class="post post-list">

                    <!--<div class="thumbnail">
                        <img src="" alt="img">
                    </div>-->
                    <div class="info thumb">
                        <h2><a href="{{ url_for('article.article', article_id=al.id) }}">{{ al.title }}</a></h2>
                        <span class="time"><i class="iconfont icon-rili"></i>{{ al.created_time }}</span>
                        <!--<p>
                            某日，在微信公众号【好奇实验室】看到一篇文章《付了钱连不上客服还不理！FQ 去油管安静的看个视频怎么这么难？》...            
                        </p>-->
                    </div>

                </div>
            {% endfor %}

                     <!--<div class="thumb-footer">
                        <a class="read-more" href="/p=1">阅读全文</a>
                        <a class="thumb-footer-comment" href="#">评论({{ replys }})</a>
                    </div>

                    <div class="hide comment-list">
                        <input class="comment-content" type="text" name="comment" value="" placeholder="评论">
                        <button class="blog-comment-add" type="submit">评论</button>
                        {% for c in comment_list %}
                            <div>{{ c.comment }} {{ c.created_time }}</div>
                        {% endfor %}
                    </div>-->
                
                
                <div class="clearer"></div>
    </div>
    {% endblock %}



