{% extends 'base.html' %}
{% block body %}

<div id="head">
  <h4>{{ filename }}</h4>

</div>

    <div class="page-content">


        <div class="page-content-left" id="id-input-src">
            <textarea rows="40" cols="60">{{ sourceContent }}</textarea>
        </div>

         <div class="page-content-right" id="id-editor-result">
            {% if file_type in ['jpg', 'png'] %}
                <img src="{{ content }}">
            {% else %}
                {{ markDownContent | safe }}
            {% endif %}
        </div>


    </div>



{% endblock %}

{% block script%}


    <script>
        _e('#id-input-src').addEventListener('input', function() {
            let src = event.target.value;
            let md = new Remarkable();
            let html = md.render(src);
            _e('#id-editor-result').innerHTML = html;
        })
    </script>



{% endblock %}
