{% extends 'base.html' %}

<script src="/static/js/components/file_browser.js"></script>
<script src="/static/js/components/file_edit.js"></script>

{% block body %}

<div id="head">
  <h4 class="head-filename" data-filepath="{{ filePath }}">{{ filename }}</h4>

</div>
    <div class="page-content">
        <div class="page-content-left" id="id-input-src">
            <textarea class="bg-inverse" rows="240" cols="60" data-type="{{ file_type }}">{{ sourceContent }}</textarea>
        </div>

         <div class="page-content-right" id="id-editor-result">
            {% if file_type in ['jpg', 'png'] %}
                <img src="{{ content }}">
            {% elif file_type in ['js', 'py'] %}
                 {{ markDownContent | safe }}
            {% else %}
                {{ markDownContent | safe }}
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block script%} <script src="/static/js/page.js"></script> {% endblock %}
