<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="/blog/static/css/base.css">
        {% block css %}{% endblock %}
        <script src="/blog/static/js/jquery-3.1.0.min.js"></script>
        <script src="/blog/static/js/api.js"></script>
        {% block script %}{% endblock %}

</head>
<body>

        <div id="header" class="fix">
            <div class="container header_cont">
                <nav id="topMenu" class="menu_click">
                    <div class="menu-menu-1-container">
                        <ul id="menu-menu-1">
                            <li><a href="/">首页</a></li>
                            <li><a href="http://www.jianshu.com/users/e3a7469265f5/latest_articles">简书</a></li>
                            <li><a href="https://github.com/caoziyao">GitHub</a></li>
                            <li><a href="#">微博</a></li>
                            <li><a href="#">文章列表</a></li>
                            <li><a href="#">分类</a></li>
                            <li><a href="#">标签</a></li>
                            <li><a href="#">关于</a></li>
                            {% if user %}
                            <li><a href="/">{{ user.username }}</a></li>
                            <li><a href="{{ url_for('user.logout') }}">登出</a></li>
                            {% else %}
                            <li><a href="/">游客</a></li>
                            <li><a href="{{ url_for('user.user') }}">登陆/注册</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
                <h1 class="logo"><a href="/">cczy's blog</a></h1>
            </div>
        </div>


        <div id="main_bg">
            
            {% block main %}
            {% endblock %}
            

            <div id="sidebar">
                <div id="aboutMe">
                        <div class="profile">
                            <img src="{{ url_for('static', filename='img/10.png') }}" width="100" height="100" alt="头像">
                            <div class="info">
                                <a href="/">cczy's blog</a>
                                {% if user.username == 'root'%}
                                    <p><a href="{{ url_for('article.new_article') }}">创建新文章</a></p>
                                {% endif %}
                                {# 
                                    注释的内容，不显示在 html 中
                                    {% if user%}
                                    <a href="/">{{ user.username }}</a>
                                    <p><a href="{{ url_for('article.new_article') }}">创建新文章</a></p>
                                    {% else %}
                                    <p></p>
                                    <a href="{{ url_for('user.user') }}">游客/请登录</a>
                                    {% endif %}
                                 #}
 
                                
                            </div>
                        </div>

                        <div class="counts">
                            <ul>
                                <li id="recent-posts-3">近期文章</li>
                                <li id="recent-comments-3">近期评论</li>
                                <li id="categories-3">标签</li>
                                <li id="archives-3">Follow me</li>
                                <li>分类</li>
                            </ul>
                        </div>
                </div>
            </div>

         </div>

    <div id="footer">
        <div class="footer-left">
        <ul class="footer-container">
            <li><a href="https://justyy.com" target="_blank">赖博士</a></li>
            <li><a href="http://asheblog.org" target="_blank">AsheBlog</a></li>
            <li><a href="http://maro6.com" target="_blank">Maro的博客</a></li>
            <li><a href="http://cheen.cn" target="_blank">枫叶飘落</a></li>
            <li><a href="http://cnzl.org" target="_blank">黎叔</a></li>
            <li><a href="http://199508.com" target="_blank">nob太雄</a></li>
            <li><a href="http://rffan.info" target="_blank">啊福</a></li>
            <li><a href="http://piaoling.me" target="_blank">飘零</a></li>
            <li><a href="http://www.wysafe.com" target="_blank">梦月酱</a></li>
            <li><a href="http://www.lingchenzi.com" target="_blank">灵尘居</a></li>
            <li><a href="http://www.mwulu.com" target="_blank">喵呜噜</a></li>
            <li><a href="http://louishan.com" target="_blank">生活志</a></li>
            <li><a href="http://fang.in" target="_blank">蛋疼哥</a></li>
            <li><a href="https://www.biji.io" target="_blank">设计笔记</a></li>
            <li><a href="http://www.wlyx581.com" target="_blank">囧小样</a></li>
            <li><a href="http://www.bgbk.org" target="_blank">斌果博客</a></li>
            <li><a href="http://wonse.info" target="_blank">王鑫的小屋</a></li>

            <li><a href="https://tumutanzi.com" target="_blank">土木坛子</a></li>
            <li><a href="http://fatesinger.com" target="_blank">大发</a></li>
            <li><a href="https://immmmm.com" target="_blank">木木</a></li>
            <li><a href="http://forbetty.com" target="_blank">贝总</a></li>
        </ul>
     </div>


        <div class="footer-right">
            <p>Powered by Me</p>
                    <p>Theme is None by <a target="_blank" href="/">Me</a></p>
            <p>vultr 高速服务器由 <a target="_blank" href="#">bnhb</a> 独家赞助</p>
            <p>© 2016 <a href="#">gnhg</a></p>
        </div>

    </div>
</body>
</html>


