{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/article.css">
{% endblock %}

{% block body %}
    <div class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            {% block header %} {% include 'header.html' %} {% endblock %}

            <div class="layout-body">

                <div class="body-left">
                    <div class="bl-header">

                    </div>
                    <div class="bl-content">

                    </div>
                </div>

                <div class="body-rightbar">
                </div>
            </div>

            {% block footer %} {% include 'footer.html' %} {% endblock %}
        </div>

    </div>


    <script type="text/html" id="id-tmp-note">
        {% raw %}
        <div class="bl-header">
            <div class="bl-header-left">
                <h3 class="">{{ title }}</h3>
            </div>
            <div class="bl-header-right">
                <button class="layui-btn-primary layui-btn-small">Edit</button>
                <button class="layui-btn layui-btn-small">New Page</button>
            </div>
        </div>
        <div class="bl-content">
            <div class="file-browser">
                {{ content }}
            </div>

        </div>

        {% endraw %}
    </script>
    <script type="text/html" id="id-tmp-rightbar">
        {% raw %}
        <ul class="">
            {{ each catalogs cat index }}
            <div>
                <strong class="catalog-title">{{ cat.title }}</strong>
                {{ each cat.notes note i }}
                <li class="">
                    <a href="/article?note_id={{ note.id }}" class="note-link">{{ note.title }} </a>
                </li>
                {{ /each }}
            </div>

            {{ /each }}
        </ul>
        {% endraw %}
    </script>
    <script src="../static/js/components/base_component.js"></script>
    <script src="../static/js/components/file_browser.js"></script>
    <script src="../static/js/components/file_edit.js"></script>
    <script>
        layui.use(['layer', 'form'], function () {
            let layer = layui.layer
            let form = layui.form
            //  layer.msg('Hello World');
        });

        let note_id = queryStringFromUrl('note_id')
        ajax.noteById(note_id, function (r) {
            let result = r.result

            if (result === 1) {
                let data = r.data
                let t = template('id-tmp-note', data)
                _e('.body-left').innerHTML = t
                let content = _e('.file-browser').innerHTML
                let fb = FileBrowser.new('.file-browser', content);
                fb.renderMarkDown()

                log('data', data)
            }

        })

        ajax.allNotes(function (r) {
            let result = r.result
            if (result === 1) {
                let data = r.data
                let bar = template('id-tmp-rightbar', data)
                _e('.body-rightbar').innerHTML = bar
            }
        })

    </script>
{% endblock %}


