{% extends 'base.html' %}

<script src="/static/js/components/file_browser.js"></script>
<script src="/static/js/components/file_edit.js"></script>

{% block body %}

<div id="head">


</div>
    <textarea class="page-content hidden">
 {{ note.content }}

    </textarea>

    <div id="id-wiki-wrapper" class="results">
        <div class="file-browser">
            {{ note.content }}
        </div>
    </div>

    {% block templates %} {% include 'model/templates.html' %} {% endblock %}
{% endblock %}


{% block script%}
<script src="../static/js/components/base_component.js"></script>
<script src="../static/js/components/file_browser.js"></script>
<script src="../static/js/components/file_edit.js"></script>
<script src="../static/js/article.js"></script>

{% endblock %}
