<div class="layui-header">
            <div class="layui-logo"><a href="/">wiki</a></div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="/">笔记</a></li>
                <li class="layui-nav-item"><a href="/basis">基础</a></li>
                <li class="layui-nav-item"><a href="/front_end">前端</a></li>
                <li class="layui-nav-item"><a href="/rear_end">后端</a></li>
                <li class="layui-nav-item"><a href="/tool">工具库</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
{#                        <dd><a href="">邮件管理</a></dd>#}
{#                        <dd><a href="">消息管理</a></dd>#}
{#                        <dd><a href="">授权管理</a></dd>#}
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        caoziyao
                    </a>
                    <dl class="layui-nav-child">
{#                        <dd><a href="">基本资料</a></dd>#}
{#                        <dd><a href="">安全设置</a></dd>#}
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>