{% extends 'base.html' %}

{% block css %} {% endblock %}

{% block body %}

    <div class="wrapper">
       <div class="wrapper-classify">
        <ul class="dropdwon-box-ul">
            {% for cat in rdata.catalogs %}
                 <li class="wiki-catalog-li"><a class="wrapper-catalog-a" data-catalogid="{{ cat.id }}">{{ cat.title }}</a></li>
             {% endfor %}
          </ul>
       </div>

        <div class="wrapper-catalog">

             <ul class="wrapper-note-list" >
                {% for note in rdata.notes %}
                    <li class="wiki-note">
                        <a href="/article?node_id={{ note.id }}" class="dropdwon-box-link note" >{{ note.title }} </a>
                        <span class="wiki-note-time">{{ note.update_time }}</span>
                        <a href="/edit?node_id={{ note.id }}"><button class="btn btn-default btn-xs">编辑</button></a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="under-line">
                <li></li>
            </ul>

            <div>
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                  {% for i in range(rdata.total_page) %}
                <li><a class="page-number"  data-value="{{ loop.index }}" href="#">{{ loop.index }}</a></li>
                  {% endfor %}

                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>

            </div>

        </div>
    </div>

    <script type="text/html" id="id-tmp-notelist">
     {% raw %}
        {{ each data as note index }}
            <li class="wiki-note">
                <a href="/article?node_id={{ note.id }}" class="dropdwon-box-link note" >{{ note.title }} </a>
                <span class="wiki-note-time">{{ note.update_time }}</span>
                 <a href="/edit?node_id={{ note.id }}"><button class="btn btn-default btn-xs">编辑</button></a>
            </li>
        {{ /each }}
     {% endraw %}
    </script>


{% endblock %}



{% block script%}
<script src="../static/js/index.js"></script>
{% endblock %}

